HOST=0.0.0.0
PORT=8080
LOG_LEVEL=info

AWS_REGION=us-east-1
MODEL_ID=amazon.nova-pro-v1:0
MODEL_PROVIDER=amazon
MAX_TOKENS=500
TEMPERATURE=0.3

AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key

MCP_SERVER_URL=http://localhost:8000/mcp

# DB for PostgresSaver memory checkpointer
DB_HOST=localhost
DB_PORT=5432
DB_NAME=cab_management
DB_USERNAME=postgres
DB_PASSWORD=password

# Summarization thresholds
SUMMARY_TRIGGER_TYPE=messages
SUMMARY_TOKEN_TRIGGER=10
SUMMARY_KEEP_MESSAGES=4
SUMMARY_MAX_TOKENS=3000
